doctype html
html(lang="ko")
    head
        title keidiUniverse 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main
            h1 #{mainName}
    include partials/footer.pug