doctype html
html(lang="ko")
    head
        title keidiUniverse 
    body 
        h1 Company DATA : 고려아연

        table
            th 구분
            th 2021-12
            th 2022-12
            tr 
                td 자산총액
                td 1,098,554
                td 1,234,567
            tr  
                td 자본총액
                td 809,554
                td 778,354
            tr
                td 자산총액
                td 111,222
                td 112,789


        footer &copy; #{new Date().getFullYear()} KEIDI UNIVERSE